@model Category


    <div class="col-md-3 mb-3">
        <a asp-controller="Food" asp-action="FoodList" asp-route-category="@Model.Url">
            <div class="card">
                <img src="~/images/@Model.CategoryImage" style="height:190px !important;" class="card-img-top">
                <div class="card-body" style="background-color:darkslategrey">
                    <h6 class="card-title" style="color:white">@Model.CategoryName</h6>
                </div>
            </div>

        </a>

       
    </div>
