@model Food


<div class="card mb-3">
    <img src="~/images/@Model.FoodImage" style="height:230px !important" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@Model.FoodName</h5>
        <p class="card-text">@Model.FoodDescription</p>
        <div class="m-auto">
            <a asp-controller="food" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary">Daha Fazlası</a>

        </div>
    </div>
   
</div>

       