@model Food


<div class="card mb-3" style="max-height:450px;">
    <img src="~/images/@Model.FoodImage" style="height:230px !important" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@Model.FoodName</h5>
        @*<p class="card-text" style="height:70px;">@Model.FoodDescription</p>*@
        <div class="m-auto">
            <a asp-controller="food" asp-action="FoodDetails" asp-route-url="@Model.Url" class="btn btn-success">Daha Fazlası</a>

        </div>
    </div>
   
</div>

       