


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @*<link rel="stylesheet" href="~/css/style.css">*@
    <link href="~/css/style1.css" rel="stylesheet" />
</head>


<body>
    <section>
        <div class="wrap" style="height:40px">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col d-flex">
                        <p class="mb-0 phone mt-1"><span class="fa fa-phone"></span> <a href="#">+00 1234 567</a></p>
                        
                    </div>
                    <div class="col d-flex justify-content-end">
                       

                        @if (!User.Identity.IsAuthenticated)
                        {
                    <div>
                        <a href="/account/login" class="nav-link text-white">Login</a>
                        <a href="/account/register" class="nav-link text-white">Register</a>
                    </div>



                        }
                        else
                        {
                    <div class="d-flex">
                        <a href="/account/manage" class="nav-link text-white">@User.Identity.Name </a>
                        <a href="/account/logout" class="nav-link text-white">Logout</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="/admin/inbox/list" class="nav-link text-white"><i class="fa-solid fa-envelope fa-2x"></i></a>

                        }
                    </div>

                        }


                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="~/">BEST <span>RECIPE</span></a>
                <form action="/search" class="searchform order-sm-start order-lg-last">
                    <div class="form-group d-flex">
                        <input type="text" name="q" class="form-control pl-3" placeholder="Food Search...">
                        <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                    </div>
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active"><a href="~/" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/category/index" class="nav-link">Kategoriler</a></li>
                        <li class="nav-item"><a asp-controller="contact" asp-action="Index" class="nav-link">İletişim</a></li>
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item"><a asp-controller="admin" asp-action="foodlist" class="nav-link">Yemek Ekle</a></li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="collapse navbar-collapse" id="ftco-nav">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="ftco-nav" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Admin
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="ftco-nav">
                                            <li><a class="dropdown-link nav-link text-dark" href="/admin/foods">Yemek Ekle</a></li>
                                            <li><a class="dropdown-link nav-link text-dark" href="/admin/categories">Kategori Ekle</a></li>
                                            <li><a class="dropdown-link nav-link text-dark" href="/admin/role/list">Roles</a></li>
                                            <li><a class="dropdown-link nav-link text-dark" href="/admin/user/list">Users</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>



                        }
                    </ul>

                </div>
            </div>
        </nav>


    </section>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>

