


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <section class="ftco-section">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col">
                        <p class="mb-0 phone"><span class="fa fa-phone"></span> <a href="#">+00 1234 567</a></p>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <div class="social-media">
                            <p class="mb-0 d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa-brands fa-facebook-f"><i class="sr-only">Facebook</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa-brands fa-twitter"><i class="sr-only">Twitter</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa-brands fa-instagram"><i class="sr-only">Instagram</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa-brands fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                            </p>
                        </div>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/account/login" class="nav-link text-white">Login</a>
                            <a href="/account/register" class="nav-link text-white">Register</a>


                        }
                        else
                        {
                            <a href="/account/manage" class="nav-link text-white">@User.Identity.Name </a>
                            <a href="/account/logout" class="nav-link text-white">Logout</a>
                        }


                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="~/">BEST <span>RECIPE</span></a>
                <form action="#" class="searchform order-sm-start order-lg-last">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control pl-3" placeholder="Search">
                        <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                    </div>
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active"><a href="~/" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/category/index" class="nav-link">Kategoriler</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item"><a href="/admin/foods" class="nav-link">Yemek Ekle</a></li>
                            <li class="nav-item"><a href="/admin/categories" class="nav-link">Kategori Ekle</a></li>
                            <li class="nav-item"><a href="/admin/role/list" class="nav-link">Roles</a></li>

                        }
                    </ul>
                   
                </div>
            </div>
        </nav>
        <!-- END nav -->

    </section>



</body>
</html>

