@model AuthorListViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="~/author-css/author1.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <h1>ALL AUTHORS</h1>
        <ul class="cards">
            @foreach (var item in Model.Authors)
            {
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="~/images/@item.AuthorImage"></div>
                        <div class="card_content">
                            <h2 class="card_title">@item.AuthorFullName</h2>
                            <p class="card_text">@item.AuthorAbout.Substring(0, item.AuthorAbout.Substring(0, 60).LastIndexOf(" "))...</p>
                            <button class="btn card_btn">Read More</button>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>


</body>
</html>