@model CategoryListViewModel

@section Css {
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CategoryList').DataTable(
                {
                    lengthMenu: [
                        [2, 5, 10, 20, 40, -1],
                        [2, 5, 10, 20, 40, "Tümü"]
                    ],
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json"
                    }
                }
            );
        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Admin Categories</h1>
        <hr />
        <a class="btn btn-primary btn-sm mb-3" href="/admin/categories/create">Add Category</a>
        <table id="CategoryList" class="table table-bordered mt-3 w-100">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td>Name</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>

                @if (Model.Categories.Count() > 0)
                {
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@item.CategoryId</td>
                            <td>@item.CategoryName</td>


                            <td>
                                <a class="btn btn-primary btn-sm me-2" href="/admin/categories/@item.CategoryId">Edit</a>

                                <form action="/admin/deletecategory" method="post" style="display:inline">
                                    <input type="hidden" name="categoryId" value="@item.CategoryId" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No Categories</h3>
                    </div>
                }


            </tbody>
        </table>
    </div>
</div>