@model FoodModel

<h1 class="h3">Food Edit</h1>

<div class="row">
    <div class="col-md-12">
        <form class="row g-3" asp-controller="Admin" asp-action="FoodEdit" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-8">
             
                    <div class="col-md-8 mb-3">
                        <label asp-for="FoodName" class="form-label"></label>
                        <input class="form-control" asp-for="FoodName">
                        <span asp-validation-for="FoodName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="FoodPrice" class="form-label"></label>
                        <input class="form-control" asp-for="FoodPrice">
                        <span asp-validation-for="FoodPrice" class="text-danger"></span>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label asp-for="Url" class="form-label"></label>
                        <input class="form-control" asp-for="Url">
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label asp-for="FoodRecipe" class="form-label"></label>
                        <textarea id="editor2" class="form-control" asp-for="FoodRecipe"></textarea>
                        <span asp-validation-for="FoodRecipe" class="text-danger"></span>

                    </div>
                    <div class="col-md-12 mb-3">
                        <label asp-for="FoodMaterial" class="form-label"></label>
                        <textarea id="editor" class="form-control" asp-for="FoodMaterial"></textarea>
                        <span asp-validation-for="FoodMaterial" class="text-danger"></span>

                    </div>
                    <div class="col-md-6 mb-5">
                        <label asp-for="FoodImage" class="form-label me-5"></label>
                        <div>
                            <input type="hidden" asp-for="FoodImage">
                            <img src="~/images/@Model.FoodImage" asp-for="FoodImage" width="80" />
                            <input type="file" name="file" />
                        </div>

                    </div>
                    <div class="col-12 mb-3">
                        <input type="hidden" name="FoodId" value="@Model.FoodId" />
                        <button type="submit" class="btn btn-success">Yemek Güncelle</button>
                    </div>
                </div>
                <div class="col-md-4">

                    @foreach (var item in (List<Category>)ViewBag.Categories)
                    {
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="categoryIds"
                                   value="@item.CategoryId"
                                   id="category_@item.CategoryId"
                                   @if (Model.SelectedCategories != null) { @(Model.SelectedCategories.Any(i => i.CategoryId == item.CategoryId) ? "checked" : "") } />
                            <label class="form-check-label" for="category_@(item.CategoryId)">
                                @item.CategoryName
                            </label>
                        </div>
                    }
                    <hr />

                    <div class="form-check">
                        <input type="checkbox" asp-for="IsApproved" class="form-check-input" />
                        <label class="form-check-label">IsApproved</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" asp-for="IsHome" class="form-check-input" />
                        <label class="form-check-label">Is Home?</label>
                    </div>

                    <div class="form-check">
                        <input asp-for="IsSlider" class="form-check-input" type="checkbox">
                        <label asp-for="IsSlider" class="form-check-label"></label>
                        <span asp-validation-for="IsSlider" class="text-danger"></span>

                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

@section scripts
{
    <script src="/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
        CKEDITOR.replace('editor2');
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
