@model IEnumerable<User>

	<h1>Üye Sayfası</h1>

	<div class="mt-3 row">
		<div class="col-5">

		
		@foreach (var item in Model)
		{
		<h5><span class="text-danger">Kullanıcı Adı: </span>@item.UserName</h5>			
		<h5><span class="text-danger">Adı: </span>@item.FirstName</h5>			
		<h5><span class="text-danger">Soyadı: </span>@item.LastName</h5>			
		<h5><span class="text-danger">Mail: </span>@item.Email</h5>			
		}
		</div>

		<div class="col-6">
			<h3>Eklediği Yemekler</h3>

		</div>
	</div>	


