.headerr {
    display:flex !important;
    max-height: 50px;
    background-color: #CF161C;
}

.baslik {
    max-width: 75px;
    background-color: #CF161C;
    /*z-index:1;*/
    border:solid none;
    border-color:red;
    border-radius:10px;
    margin:auto;
}

.baslik h3 {
    font-family: 'Bebas Neue', cursive;
    color:white
}

.fab {
    padding: 6px;
    font-size: 20px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
}

    .fab:hover {
        opacity: 0.6;
    }

.fa-facebook-f {
    background: #3B5998;
    color: white;
    border-radius:10px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 10px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 10px;
}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 10px;
}
