* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #F2F5F9;
}

.nbr {
    display: flex;
    background-color: #FFFFFF;
    /*max-width: 1000px;*/
    max-height: 350px !important;
}

.nbr-ul {
    display: flex;
    width: 60% !important;
    margin-left: 0;
    margin-right: 200px;
}



.nbr-li a {
    display: block;
    text-decoration: none;
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    min-width: 40px;
    margin: auto;
    font-size: 16px;
}

    .nbr-li a:hover {
        background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
        background-size: 100% 100%;
        color: #27262c;
        animation: spring 300ms ease-out;
        text-shadow: 0 -1px 0 #ef816c;
        font-weight: bold;
    }



.nbr-li:active {
    transform: translateY(4px);
}

.nbr-li:last-child {
    display: none;
}


.nbr-ul-right {
    display: flex;
    width: 100%;
    margin-right: 0;
    max-width: 1000px;
    /*    justify-content: space-between;
    text-align: center;*/
}

    .nbr-ul-right img {
        height: 25px;
        width: 30px;
    }

/*#nbr-li {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
}*/

.nbr-li-right a {
    display: block;
    text-decoration: none;
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    min-width: 40px;
    margin: auto;
    font-size: 16px;
}



@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }

    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }

    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}

@media (max-width: 1210px) {
    #abc {
        display: none;
    }
}

@media (max-width: 700px) {
    .nbr{
        display:block;
    }

    #abc {
        display: block;
        margin-left:20%;
    }

    .nbr-li {
        display: none;
    }

        .nbr-li:last-child {
            font-size: 26px;
            display: block;
        }

    .responsivee .nbr-li {
        display: block;
        text-align: left;
        margin: 1rem 0;
    }

        .responsivee .nbr-li:last-child {
            position: absolute;
            right: 10px;
            top: 26px;
        }

    .responsivee .nbr-ul {
        display: block;
    }
}
